/* *** *** *** Custom Properties *** *** *** */
@font-face {
    font-family: "Roboto-Bold";
    font-display: swap;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    font-display: swap;
    src: url(./fonts/Roboto-Regular.ttf);
}

:root {
    --color-white: #fff;
    --color-dark-blue: #36384d;
    --color-blue: #232742;
    --color-red: #f00;
    --color-orange: #ff6055;
    --font: "Roboto-Regular";
    --font-bold: "Roboto-Bold";
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-dark-blue);
}

/* *** *** *** Reset *** *** *** */
html {
    font-family: var(--font);
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
}

/* *** *** *** Components *** *** *** */

.button-1 {
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--font-bold);
    font-size: 0.9rem;
    color: var(--color-white);
    cursor: pointer;
    background-image: linear-gradient(
        45deg, 
        var(--color-dark-blue) 50%, 
        #ff537b, 
        #ff6740 
    );
    background-size: 400% 100%;
    transition: background-position 0.5s ease;
}

.modal-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0005;
}

/* *** *** *** Utilities *** *** *** */
.flow > * { margin-bottom: var(--flow); }

.flow > *:first-child { margin-top: 0; }

.flow > *:last-child { margin-bottom: 0; }

.none { display: none; }

/* *** *** *** Site Styles *** *** *** */
.modal {
    width: 60%;
    min-width: 340px;
    max-width: 900px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--color-white);
}

.modal__picture > img {
    display: block;
    width: 100%;
}

.modal__text {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.modal-text__h1 {
    font-family: var(--font-bold);
    margin-bottom: 1.5rem;
}

.modal-text__p {
    margin-bottom: 1.5rem;
} 

.modal-text__ul {
    margin-bottom: 1.5rem;
    list-style-type: none;
}

.modal-text-ul__li {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}

.modal-text-ul__li::before {
    position: absolute;
    top: 0.4rem;
    left: 0;
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(./images/icon-list.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-text__div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-family: var(--font-bold);
    font-size: 0.9rem;
}

.modal-text-div__msg-error {
    color: var(--color-red);
}

.modal-text__input {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 2px solid #aaa;
}

.modal-text__input--error {
    color: var(--color-red);
    background-color: #f002;
    border-color: var(--color-red);
}

.modal-text__button--active {
    background-position: 100% 0%;
}

.modal-sucess {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--color-white);
}

.modal-sucess__img {
    width: 5rem;
    margin-bottom: 2rem;
}

.modal-sucess__h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.modal-sucess__button {
    margin-top: auto;
}

.modal-sucess__button:hover {
    background-position: 100% 0%;
}

@media screen and (min-width: 1000px) {
    .modal {
        display: flex;
    }

    .modal__picture,
    .modal__text {
        flex-basis: 50%;
    }

    .modal__picture {
        padding: 1.5rem;
    }

    .modal__text {
        justify-content: center;
    }

    .modal-sucess {
        width: 50%;
        max-width: 640px;
        height: auto;
        justify-content: space-between;
        gap: 2rem;
        padding: 3rem;
        border-radius: 20px;
    }

    .modal-sucess > * {
        margin: 0;
    }

    .modal-sucess__img {
        width: 3.5rem;
    }
}
